* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container .row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.container .row .col {
    flex-grow: 0.77;
} 

.container .row .col.small {
    flex-grow: 0.33;
} 
.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color:blue;
}

.pink {
    background-color: pink;
}

@media all and (max-width: 900px) and (orientation: landscape) {}